.color-picker {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    padding: 0;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.color-picker:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.inp-edit-at {
    background-color: #ebedef;
    color: black;
    width: 100%;
    padding: 3px 5px;
    border-radius: 7px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.inp-edit-at:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.inp-edit-at:active {
    transform: scale(0.95);
}

.inp-edit-at:focus {
    border: 2px solid grey;
}