:root {
  --bg-main: #f5f7fb;
  --bg-surface: #ffffff;
  --bg-soft: #eef2f7;

  --text-main: #111827;
  --text-soft: #6b7280;

  --border-color: #e5e7eb;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --radius: 12px;

  --shadow-soft: 0 4px 12px rgba(0,0,0,0.08);
}

.dark {
  --bg-main: #0f172a;
  --bg-surface: #1e293b;
  --bg-soft: #1a2236;

  --text-main: #f1f5f9;
  --text-soft: #94a3b8;

  --border-color: #334155;

  --primary: #60a5fa;
  --primary-hover: #3b82f6;

  --shadow-soft: 0 4px 18px rgba(0,0,0,0.5);
}
