
.dark-toggle input {
    display: none;
}

.dark-toggle label {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    background-color: #111;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");


    transition:
        transform 0.4s ease,
        background-color 0.4s ease,
        opacity 0.3s ease;
}


.dark-toggle input:checked+label {
    background-color: #003892;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIvPjwvc3ZnPg==");
    transform: rotate(180deg);
}

label:active {
    transform: scale(0.9);
}

/* =========================================== */

.cc-container {
  --cc-unchecked-color: hsl(0, 0%, 10%);
  --cc-checked-color: hsl(216, 100%, 60%);
  --cc-font-color: white;
  --cc-checked-font-color: var(--cc-font-color);
  --cc-icon-size: 1.5em;
  --cc-anim-time: 0.2s;
  --cc-anim-scale: 0.1;
  --cc-base-radius: 0.8em;

  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  fill: var(--cc-font-color);
  color: var(--cc-font-color);
}

/* Hide default checkbox */
.cc-container input {
  display: none;
}

/* Base custom checkbox */
.cc-checkmark {
  background: var(--cc-unchecked-color);
  border-radius: var(--cc-base-radius);
  display: flex;
  padding: 0.5em;
}

.cc-icon {
  width: var(--cc-icon-size);
  height: auto;
  filter: drop-shadow(0px 2px var(--cc-base-radius) rgba(0, 0, 0, 0.25));
}

.cc-name {
  margin: 0 0.25em;
}

.cc-yes {
  width: 0;
}

.cc-name.cc-yes {
  display: none;
}

/* Hover */
/* .cc-container:hover .cc-checkmark,
.cc-container:hover .cc-icon,
.cc-container:hover .cc-name {
  transform: scale(calc(1 + var(--cc-anim-scale)));
} */

.cc-container:active .cc-checkmark,
.cc-container:active .cc-icon,
.cc-container:active .cc-name {
  transform: scale(calc(1 - var(--cc-anim-scale) / 2));
  border-radius: calc(var(--cc-base-radius) * 2);
}

.cc-checkmark::before {
  content: "";
  opacity: 0.5;
  transform: scale(1);
  border-radius: var(--cc-base-radius);
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.cc-checkmark:hover:before {
  background-color: hsla(0, 0%, 50%, 0.2);
}

.cc-container input:checked + .cc-checkmark:before {
  animation: cc-boon var(--cc-anim-time) ease;
  animation-delay: calc(var(--cc-anim-time) / 2);
}

/* Checked state */
.cc-container input:checked + .cc-checkmark {
  --cc-unchecked-color: var(--cc-checked-color);
  fill: var(--cc-checked-font-color);
  color: var(--cc-checked-font-color);
}

.cc-container input:checked ~ .cc-checkmark .cc-no {
  width: 0;
}

.cc-container input:checked ~ .cc-checkmark .cc-name.cc-no {
  display: none;
}

.cc-container input:checked ~ .cc-checkmark .cc-yes {
  width: var(--cc-icon-size);
}

.cc-container input:checked ~ .cc-checkmark .cc-name.cc-yes {
  width: auto;
  display: unset;
}

/* Animation */
.cc-container,
.cc-checkmark,
.cc-checkmark:after,
.cc-icon,
.cc-checkmark .cc-name {
  transition: all var(--cc-anim-time);
}

@keyframes cc-boon {
  80% {
    transform: scale(1.4);
  }
  99% {
    transform: scale(1.7);
  }
  to {
    transform: scale(0);
  }
}