@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
/* Calendar.css */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    color: var(--text-main);
}

/* ========================= */
/* CALENDAR CONTAINER */
/* ========================= */

.calendar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-surface);
    color: var(--text-main);
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
}

/* ========================= */
/* HEADER */
/* ========================= */

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.month-year {
    font-size: 1.7rem;

    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.month-title{
    color: var(--primary);
}

button {
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    color: var(--text-main);
    transition: 0.7;
}

button:hover {
    background-color: var(--bg-soft);
    color: var(--text-main);
}

.today-btn {
    margin: 8px auto;
    font-size: 0.1rem;
}

/* ========================= */
/* WEEK HEADER */
/* ========================= */

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: var(--primary-hover);
    font-weight: bold;
    font-size: 1.4rem;
}

/* ========================= */
/* DAYS GRID */
/* ========================= */

.days-grid {
    flex: 1;
    /* ocupa todo espaço restante */
    display: grid;

    grid-template-columns: repeat(7, 1fr);

    /* sempre 6 linhas fixas como calendário real */
    grid-template-rows: repeat(6, 1fr);

    gap: 10px;
    padding: 5px;
    overflow: hidden;
    /* impede crescimento infinito */
}

/* ========================= */
/* DAY CELL */
/* ========================= */

.day {
    background-color: var(--bg-soft);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.day.empty {
    background-color: var(--bg-main);
}

.day.today {
    background-color: #d6ffd7;
    border: 2px dashed #00ffa6;
    font-weight: bold;
    color: black;
}

/* ========================= */
/* CARD AREA */
/* ========================= */

.kanban-coluna-cartoes {
    flex: 1;
    overflow-y: auto;
    margin-top: 5px;
    padding-right: 4px;
}

/* Scroll bonito */
.kanban-coluna-cartoes::-webkit-scrollbar {
    width: 6px;
}

.kanban-coluna-cartoes::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* ========================= */
/* CARDS */
/* ========================= */

.kanban-cartao {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: grab;
    transition: all 0.2s ease;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.kanban-cartao.arrastando {
    opacity: 0.6;
    transform: rotate(3deg);
}

.kanban-cartao {
    transition: background-color 0.2s ease, border 0.2s ease;
}

.kanban-coluna.drag-over {
    background-color: #d6e4ff;
    border: 2px dashed #007bff;
    color: black;
}

/* list for edit */

/* From Uiverse.io by WhiteNervosa */
.slider {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;

    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 37px;
    height: 15px;
    background-color: #555856;
}

.slider::after {
    content: "";
    display: flex;
    top: 1.5px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
}

.switch input[type="checkbox"]:checked+.slider {
    background-color: #4acc22;
}

.switch input[type="checkbox"]:checked+.slider::after {
    left: 24px;
}

.switch input[type="checkbox"] {
    display: none;
}

/* From Uiverse.io by vinodjangid07 */
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    margin-right: 15px
}

.bin-bottom {
    width: 15px;
}

.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

/* From Uiverse.io by aboalsim114 */
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: flex;
    gap: 10px;
}


/* Create a custom checkbox */
.checkmark {
    position: relative;
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container input:checked~.checkmark {
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    background-color: rgba(245, 24, 24, 0.5);
    height: 15px;
    width: 15px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.37em;
    top: 0.2em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
}