@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

.weekly-agenda {
    padding: 16px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: var(--bg-main);
    color: var(--text-main);
    border-radius: var(--radius);
}

.week-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    flex-shrink: 0;
}

.week-title {
    font-size: 1.4rem;
    font-weight: 600;
    flex: 1;
    text-align: center;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    flex: 1;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: var(--bg-surface);
}

.time-col {
    text-align: right;
    padding: 8px 6px;
    font-size: 0.9rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 2;

    background: var(--bg-soft);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-soft);
}

.day-header {
    text-align: center;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 30;

    border-bottom: 1px solid var(--border-color);
    background: var(--bg-soft);
}

.day-header.today {
    background-color: #d6ffd7;
    color: black;
}

.weekday {
    font-size: 0.95rem;
    color: #555;
    color: #0026ff;
}

.daynum {
    font-size: 1.4rem;
}



/* header time 00:00 fixo no topo */
.time-col.header {
    background: #e3f2fd;
    font-weight: bold;
}

.hour-cell {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    min-height: 60px;
    background: transparent;
}

.task-block {
    margin: 0 6px;
    border-radius: 6px;
    font-size: 0.9rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;

    box-shadow: var(--shadow-soft);
    background: var(--bg-surface);
    color: var(--text-main);
}

.task-block:hover {
    transform: scale(1.02);
}

.task-title {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-time {
    font-size: 0.75rem;
    opacity: 0.9;
    margin-top: 2px;
}

.add-zone {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
}

.add-zone:hover {
    background: var(--primary);
    opacity: 0.15;
}


.dark-toggle input {
    display: none;
}

.dark-toggle label {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    background-color: #111;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");


    transition:
        transform 0.4s ease,
        background-color 0.4s ease,
        opacity 0.3s ease;
}


.dark-toggle input:checked+label {
    background-color: #003892;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIvPjwvc3ZnPg==");
    transform: rotate(180deg);
}

label:active {
    transform: scale(0.9);
}